*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

/* closed card */

.notification-card-closed{
    position: fixed;
	bottom: 0;
    right: 25px;
    float: right;
 display: flex;
 flex-direction: row;
    width: 200px;
    height: 35px;
    background-image: black;
    border-top: rgba(128, 128, 128, 0.575) solid 1px ;
    border-left: rgba(128, 128, 128, 0.575) solid 1px ;
    border-right: rgba(128, 128, 128, 0.575) solid 1px ;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
    align-items:center;
    gap: 5px;
    background-color: #fafafa;
    transition: all 0.3s;
    
}

.notification-card-open{
    position: fixed;
	bottom: 0;
    right: 25px;
    float: right;
 display: flex;
 flex-direction: column;
    width: 200px;
    height: 390px;
    background-image: black;
    border-top: rgba(128, 128, 128, 0.575) solid 1px ;
    border-left: rgba(128, 128, 128, 0.575) solid 1px ;
    border-right: rgba(128, 128, 128, 0.575) solid 1px ;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
    align-items:center;
  
    background-color: #fafafa;
    align-items:flex-start;

    transition: all 0.3s;
    
}

.notification-closed {
    margin-left: 4px;
    display: flex;
    align-items:center;
gap: 26px;


}
 .arrow-up{
    cursor: pointer;
 }

.notification-open {
    display: flex;
    align-items:center;
gap: 26px;
padding: 5px 3px 5px 5px ;
border-bottom: rgba(128, 128, 128, 0.836) solid 1px ;;


}


.notification-picture{
    height: 25px;
    max-width: 25px;
    border-radius: 50%;
    border:rgba(128, 128, 128, 0.575) solid 1px;
    margin-left:4px;


}

.notifications{
    color: rgb(67, 66, 66);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    padding-right: 27px;

}



   

.buddy-requests {
    position:relative;
 display: flex;
 flex-direction: row;
    width: 198px;
    height: 45px;
    justify-content:space-between;

  background-color: #fafafa;
  border-bottom: rgba(128, 128, 128, 0.363) solid 1px ;
  align-items:center;
}

.buddy-requests:hover{
    background-color: white;
}

.blank-image {
    margin-left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.buddy-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-right: 70px;
}

.message-icon{
    margin-right: 5px;
    margin-bottom: 10px;
}